.top-container {
    min-width: 10%;
    max-width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-container {
    border-radius: 30px;
    width: fit-content;
}

.card-content {
    border-radius: 30px;
}

.main {
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    border: 0;
    background-color: white;
}