.page-title {
    text-align: center;
    font-family:'Imprint MT Shadow';
    font-size: 60px;
    color:#523931;
}

.middle-container {
    font-family:Georgia;
    font-size: 20px;
}

.btn {
    background-color:#bb8c46;
}