.page-title {
    text-align: center;
    font-family:'Imprint MT Shadow';
    font-size: 60px;
    color:#523931;
}

.input {
    margin-left: 0.5rem;
}

.paragraph {
    margin-bottom: 0.3rem;
}

.checkbox-list li {
    list-style: none;
}

.checkbox-list input {
    margin-right: 0.3rem;
}

.btn {
    margin: 1%;
    background-color:#bb8c46;
    border-radius: 10px;
}

.middle-container {
    font-family:Georgia;
    font-size: 20px;
}